<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button mat-button [matMenuTriggerFor]="menu">
          Manage
          <span class="caret"></span>
        </button>
        <mat-menu #menu="matMenu">
          <a href="#" mat-menu-item>Save data</a>
          <a href="#" mat-menu-item>Fetch data</a>
        </mat-menu>
      </ul>
    </div>
  </div>
</nav>
